<nav class="nav has-shadow" id="top">
    <div class="container">
        <div class="nav-left">
            <!--<a routerLink="/chart" >Dashboard</a>-->

            <div class="content is-large">
                <a class="nav-item is-primary" href="https://dansup.github.io/bulma-templates/index.html">
                    <img src="../../logos/relytube.svg"/>
                    <!--<p style="font:Abel">-->
                    <span>&nbsp;</span>
                    <span><strong>Rely</strong></span>
                    <span style="color: darkturquoise;">Tube</span>
                    <!--</p>-->
                </a>
            </div>
        </div>
        <div class="nav-right nav-menu">
            <a class="nav-item is-tab" routerLink="/home" routerLinkActive="is-active">
                <i class="fa fa-home"></i>
                Home
            </a>
            <a class="nav-item is-tab" routerLink="/plugin" routerLinkActive="is-active">
                <img id="plugin" src="../../logos/trustube_icon_blue_grey.png"
                     onmouseover="this.src='../../logos/trustube_icon_blue.png';"
                     onmouseout="this.src='../../logos/trustube_icon_blue_grey.png'"/>
                &nbsp; Plugin
            </a>
            <a class="nav-item is-tab" href="https://github.com/Louishancquart/hoaxtube" routerLinkActive="is-active">
                <i class="fa fa-github"></i>
                &nbsp;Git
            </a>
            <a class="nav-item is-tab" routerLink="/donate" routerLinkActive="is-active">
                <i class="fa fa-btc"></i>
                &nbsp;Donate
            </a>
            <!--<a class="nav-item is-tab">-->
            <!--Help-->
            <!--</a>-->
            <span class="nav-item">
          <a class="button is-primary is-outlined" routerLink="/login" routerLinkActive="is-active">
            Log in
          </a>
                <!--<a class="button is-info" routerLink="/register">-->
                <!--Sign up-->
                <!--</a>-->
        </span>
        </div>
    </div>

</nav>
