<section class="hero is-fullheight is-bold">

    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-4 is-offset-4">
                    <h1 class="title">
                        Login
                    </h1>
                    <div class="box">
                        <label class="label">Email</label>
                        <p class="control">
                            <input class="input" type="text" placeholder="jsmith@example.org">
                        </p>
                        <label class="label">Password</label>
                        <p class="control">
                            <input class="input" type="password" placeholder="●●●●●●●">
                        </p>
                        <hr>
                        <p class="control">
                            <button class="button is-primary">Login</button>
                            <button class="button is-default">Cancel</button>
                        </p>
                    </div>
                    <p class="has-text-centered">
                        <a routerLink="/register">Register an Account</a>
                        |
                        <a href="#">Forgot password</a>
                        |
                        <a href="#">Need help?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>
