td#plugin{
  width: 1%;
  background: greenyellow;
}
#bars{
  border-radius: 10px;
  overflow: hidden;
}

#false {
  background: #CC4945;
}

#soso {
  background: #F8A93F;
}

#true {
  background: darkturquoise;
}

