<div class="box">
<!--<span class="icon is-small"><i class="fa fa-check"></i></span>-->
<progress class="progress is-success" value="65" max="100">60%</progress>
<progress class="progress is-warning" value="10" max="100">75%</progress>
<progress class="progress is-danger" value="25" max="100">90%</progress>
</div>
<!--<div class="box">-->
  <!--<progress class="progress" value="90" max="100" style="transform:rotate(-90deg)">90%</progress>-->
<!--</div>-->
<!--<div class="meter orange nostripes">-->
  <!--<span style="width: 33.3%"></span>-->
<!--</div>-->

<!--<div style="height:500px">-->
<!--<div class="columns">-->
  <!--<div class="column is-4 is-success" height="70%"></div>-->
  <!--<div class="column is-4 is-success" height="10%"></div>-->
  <!--<div class="column is-4 is-primary" height="20%"></div>-->
<!--</div>-->
<!--</div>-->
